body{
   background: radial-gradient(ellipse at top, #e66465, transparent),
    radial-gradient(ellipse at bottom, #4d9f0c, transparent);
    text-align: center;
}
h1{
	 color: rgb(5, 38, 84);
    font-size: 50px;
}
